<style>

body{
    margin:0;
    font-family:sans-serif;
}

/* NAVBAR */
nav{
    background:#333;
    padding:15px 10px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:18px;

    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;

    padding:8px 12px;
    border-radius:8px;

    transition:0.3s;
}

/* efek disentuh */
nav a:hover{
    background:#555;
}

/* HERO */
.hero{
    text-align:center;
    padding:50px 20px;
    background:#f4f4f4;
    min-height:100vh;
}

.hero-logo{
    width:90%;
    max-width:500px;
    height:auto;

    margin-bottom:30px;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:24px;
    margin:10px 0;
}

/* FOOTER */
footer{
    text-align:center;
    padding:15px;
    background:white;
    border-top:1px solid #ccc;
}

/* HP */
@media(max-width:600px){

    nav{
        gap:10px;
    }

    nav a{
        font-size:16px;
        padding:6px 10px;
    }

    .hero h1{
        font-size:22vw;
    }

    .hero p{
        font-size:10vw;
    }
}

</style>
